body {
  background-color: #f6f6f6;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 100em;
  padding: 4rem 6rem;
}

@media screen and (max-width: 567px) {
  .main {
    padding: 2rem 1rem;
  }
}

header {
  padding-right: 20px;
}

.title {
  font-size: 46pt;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

  -webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -moz-text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

  color: #444;

  display: inline-block;
}

.gulp-logo {
  width: 74px;
  height: 165px;
  margin-left: 20px;
  vertical-align: bottom;
}

@media screen and (max-width: 567px) {
  .title {
    font-size: 40pt;
  }

  .gulp-logo {
    width: 53px;
    height: 118px;
    vertical-align: top;
  }
}

@media screen and (max-width: 409px) {
  .title {
    font-size: 30pt;
  }

  .gulp-logo {
    width: 49px;
    height: 110px;
    vertical-align: top;
  }
}


.media {
  margin: 20px auto;
  max-width: 640px;
  width: 100%;
}
.media .demo {
  width: 100%;
}

.actions {
}

.actions > a {
  margin: 0 8px;
  width: 90px;
}

.actions > iframe {
  vertical-align: middle;
}

.btn {
  height: 28px;
  padding: 5px;
  line-height: 28px;
  border-radius: 5px;

  font-size: 13px;
  font-weight: 500;

  color: #FFF;
  background-color: #282c39;
  border: 1px solid #FFF;

  text-decoration: none;

  display: inline-block;
}

.get-it {
  background-color: #EB4A4B;
}
.get-it:hover {
  background-color: #EF2A2C;
}

.docs {
  color: #444;
  text-decoration: none;
}
.docs:hover {
  color: #000;
}

.github-button {
  display: none;
}
