/*
  MAIN
*/

html, body {
  height: 100%;
  min-height: 500px;
}

body {
  background-color: #f6f6f6;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;

  margin-top: 0;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 100em;
  padding: 3.7em 6em 3em;
}

@media screen and (max-width: 567px) {
  .main {
    padding: 2rem 1rem;
  }
}

/*
  HEADER
*/

.title {
  font-size: 46pt;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

  -webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -moz-text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

  color: #444;

  display: inline-block;
}

.gulp-logo {
  width: 74px;
  height: 165px;
  margin-left: 20px;
  vertical-align: bottom;
}

@media screen and (max-width: 567px) {
  .title {
    font-size: 40pt;
  }

  .gulp-logo {
    width: 53px;
    height: 118px;
    vertical-align: top;
  }
}

@media screen and (max-width: 409px) {
  .title {
    font-size: 30pt;
  }

  .gulp-logo {
    width: 49px;
    height: 110px;
    vertical-align: top;
  }
}

/*
  DETAILS
*/

.media {
  margin: 20px auto;
  max-width: 640px;
  width: 100%;
}
.media .demo {
  width: 100%;
}

/*
  ACTIONS
*/

.actions {
}

.actions > a {
  margin: 0 8px;
  width: 90px;
}

.btn {
  height: 28px;
  padding: 5px;
  line-height: 28px;
  border-radius: 5px;

  font-size: 13px;
  font-weight: 500;

  color: #FFF;
  background-color: #282c39;
  border: 1px solid #FFF;

  text-decoration: none;

  display: inline-block;
}

.get-it {
  background-color: #EB4A4B;
}
.get-it:hover {
  background-color: #EF2A2C;
}

.docs {
  color: #444;
  text-decoration: none;
}
.docs:hover {
  color: #000;
}

/*
  FOOTER
*/

footer {
  right: 0;
  bottom: 15px;
  left: 0;
  position: absolute;

  width: 240px;
  margin: auto;
  text-align: right;
}

footer iframe {
  vertical-align: middle;
}

.github-button {
  min-width: 80px;
  visibility: hidden;
  display: inline-block;
}

.bullet {
  margin: 0 5px;
  font-weight: 500;
  vertical-align: middle;
}

.by {
  font-size: 14px;
}

.by a {
  text-decoration: none;
  color: #EB4A4B;
}
